@import './../../assets/scss/variables';
@import './../../assets/scss/mixins';

.header{
    padding: 0 $spacing-xl;

    &__text-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text{
        @include gradient-blue;
        position: relative;
        -webkit-background-clip: text;
        color: transparent;
        background-clip: text;

        &::before{
            content: attr(data-text);
            position: absolute;
            color: $color-black;
            top: -4px;
            left: -3px;

        }
    }
}