$spacing-sm: .25rem;
$spacing: .5rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;

$text-body: 16px;
$text-h1: 5rem;
$text-h2: 2.25rem;
$text-h3: 1.75rem;
$text-h4: 1.25rem;
$text-h5: 1.075rem;
$text-h6: 1rem;

$font-headings: 'Titillium Web', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-primary:rgb(104, 214, 108);
$color-secondary:rgb(238, 105, 71);
$color-white:#fafafa;
$color-neutral-lt:#eee;
$color-neutral-med:#ddd;
$color-neutral:#ccc;
$color-neutral-dk:#666;
$color-black:#445;
