$spacing-sm: .25rem;
$spacing: .5rem;
$spacing-lg: .75rem;

$text-body: 16px;

$font-headings: 'Titillium Web', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-primary:#0053ed;
$color-secondary:#d83280;
$color-white:#f7f7fd;
$color-neutral-lt:#eef;
$color-neutral:#dde;
$color-neutral-dk:#445;
$color-black:#334;