$spacing-sm: .25rem;
$spacing: .5rem;
$spacing-lg: 1rem;

$text-body: 16px;

$font-headings: 'Titillium Web', sans-serif;
$font-body: 'Open Sans', sans-serif;

$color-primary:#0053ed;
$color-secondary:#d83280;
$color-white:#fafafa;
$color-neutral-lt:#eee;
$color-neutral:#ddd;
$color-neutral-dk:#444;
$color-black:#333;