@import './../../assets/scss/variables';
@import './../../assets/scss/mixins';

.container{
    position: relative;
    margin-top: $spacing-lg;

    &:focus-within{
        .container__shadow{
            @include gradient-secondary;
        }
    }

    &__content{
        position: relative;
        top: -2.5px;
        left: -2.5px;
        
        &--padding{
            @extend .container__content;
            @include box;
        }
    }

    &__header{
        &--underline{
            font-size: $text-h5;
            color: $color-neutral-dk;
            border-bottom: 1px solid $color-neutral;
        }
    }

    &__shadow{
        @include gradient-main;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 2.5px;
        left: 2.5px;
    }
}