@import './../assets/scss/variables';
@import './../assets/scss/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 9;
  padding: $spacing-xl;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.footer {
  flex: 1;
  justify-self: flex-end;
  padding: $spacing-xl;
  box-shadow: 0px 5px 10px rgba(0, 0, 14, .3) inset;
  background-color: rgb(58, 58, 75);
  color: $color-neutral;
  text-align: center;
  font-size: small;
  line-height: $spacing-xl;
  letter-spacing: .5px;

  &__link {
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
      color: #99a;
    }

    &:hover {
      color: #bbc;
    }
  }

}

.form {
  font-size: $text-body;
  width: 100%;
  display: flex;

  &__input {
    padding: $spacing-lg;
    background-color: $color-white;
    border: 2px solid $color-white;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    margin: 0;

    &:focus {
      border: 2px solid $color-neutral-dk;
    }
  }

  // &__submit {
  //   background-color: $color-white;
  //   background: $color-white;
  //   border-radius: 0;
  //   padding: $spacing-lg;
  //   border: 2px solid $color-white;
  //   font-size: 2rem;
  //   line-height: 1.5rem;
  //   color: $color-neutral;
  //   transition: color .5s;

  //   &:hover {
  //     color: $color-neutral-dk;
  //   }

  //   &:focus {
  //     border: 2px solid $color-neutral-dk;
  //     color: $color-neutral-dk;
  //   }
  // }
}

input[type="submit"].form__submit {
  margin: 0;
  background-color: $color-white;
  background: $color-white;
  border-radius: 0;
  padding: $spacing-lg;
  border: 2px solid $color-white;
  font-size: 2rem;
  line-height: 1.5rem;
  color: $color-neutral;
  transition: color .5s;

  &:hover {
    color: $color-neutral-dk;
  }

  &:focus {
    border: 2px solid $color-neutral-dk;
    color: $color-neutral-dk;
  }
}
