@import './../assets/scss/variables';
@import './../assets/scss/mixins';

.input{
    &-text{
        @include basic-box;
        font-size: $text-body;
        border-bottom: 2px solid $color-neutral;
        transition: border-bottom 1s;
        
        &:focus{
            border-bottom: 2px solid $color-primary;
        }
    }

    &-check{

        &__container{
            user-select: none;
            position: relative;
            height: $text-body;
        }

        &__check{
            opacity: 0;
            background: red;
            z-index: 5;
            position: relative;
            cursor: pointer;

            &:checked + .input-check__custom{
                background: $color-primary;
            }
        }

        &__custom{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            height: $text-body;
            width: $text-body;
            background-color: transparent;
            border: 2px solid $color-neutral;
        }
    }
}

.todo{
    width: 100%;
    margin-top: $spacing-lg;

    &__item{
        @include basic-box;
        opacity: .8;
        padding: $spacing-lg;
        margin-top: $spacing;
        display: flex;
        align-items: center;
        background-color: $color-white;
        box-shadow: 1px 2px 3px rgba(0,0,0,.05);
        border: 2px solid $color-white;

        &:focus{
            border: 2px solid $color-neutral;
            outline: none;
            opacity: 1;

            .todo__delete::before, .todo__delete::after{
                background-color: $color-secondary;
            }
        }
    }

    &__text{
        width: 100%;
        font-family: $font-headings;
        padding: 0 $spacing-sm;
    }

    &__delete{
        align-self: center;
        position: relative;
        padding: $spacing;

        &::before, &::after{
            content: ' ';
            transition: background-color .5s;
            position: absolute;
            top: -1px;
            left: 48%;
            width: 2px;
            height: 100%;
            border-radius: 2px;
            background-color: $color-neutral;
        }
        
        &::before{
            transform: rotate(-45deg);
        }
        
        &::after{
            transform: rotate(45deg);
        }

        &:hover::before, &:hover::after{
            background-color: $color-secondary
        }
    }
}

