<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- To Dos -->
<section class='container'>
  <header class='header'>
    <h1 class='header__text'>Angular To Do App</h1>
    <input class='header__input' type="text" placeholder='Add to do...' autofocus='' [(ngModel)]="newToDo.title" (keyup.enter)="addToDo()">
  </header>
  <section class='main'>
    <ul class="todo">
      <li class="todo__item" *ngFor="let todo of todos">
        <div class="view">
          <input type="checkbox" class="todo__check">
          <label for="">{{todo.title}}, {{todo.id}}</label>
          <button class="todo__delete" (click)='deleteToDo(todo)'>X</button>
        </div>
      </li>
    </ul>
  </section>
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


