@import './../assets/scss/variables';
@import './../assets/scss/mixins';


.input{
    &-text{
        @include basic-box;
        font-size: $text-body;
    }
}

.todo{
    width: 100%;

    &__item{
        @include basic-box;
        margin-top: $spacing;
        display: flex;
    }

    &__check{
    }

    &__text{
        width: 100%;
        font-family: $font-headings;
    }

    &__delete{
        align-self: center;
        position: relative;
        padding: $spacing;

        &::before, &::after{
            content: ' ';
            position: absolute;
            top: -1px;
            left: 48%;
            width: 2px;
            height: 100%;
            border-radius: 2px;
            background-color: $color-neutral;
        }

        &::before{
            transform: rotate(-45deg);
        }
        &::after{
            transform: rotate(45deg);
        }
    }
}

