<!-- To Dos -->
<div class="background"></div>

<app-header title='To Do'>
  <app-container [padding]='false'>
    <input class='input-text--add' type="text" placeholder='Add a task...' autofocus='' [(ngModel)]="newToDo.title" (keyup.enter)="addToDo()">
  </app-container>
</app-header>

<section class='main'>
  <app-container title='Tasks' [padding]='true'>
    <app-to-do-list message='No tasks to display :-(.' [condition]="todos.length === 0">
      <app-to-do-item *ngFor='let todo of todos' (deleteEvent)='deleteToDo($event)' (markEvent)='toggleComplete($event)' [todo]='todo' [isComplete]='false'>
      </app-to-do-item>
    </app-to-do-list>
  </app-container>

  <app-container title='Completed' [padding]='true'>
    <app-to-do-list message='No tasks completed T_T.' [condition]="completed.length === 0">
      <app-to-do-item *ngFor='let todo of completed' (deleteEvent)='deleteToDo($event)' (markEvent)='toggleComplete($event)' [todo]='todo' [isComplete]='true'>
      </app-to-do-item>
    </app-to-do-list>
  </app-container>
</section>



