@import './assets/scss/variables';
@import './assets/scss/mixins';

/* You can add global styles to this file, and also import other style files */
body {
    font-family: $font-body;
    padding: $spacing-lg 0;
    font-size: $text-body;
    background: $color-neutral-lt; 
    color: $color-black;
    background: -webkit-linear-gradient(to right, $color-white, $color-neutral-lt);  
    background: linear-gradient(to right, $color-white, $color-neutral-lt); 

}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}

.header{
    box-shadow: 0px -10px 10px rgba(0,0,0,.05) inset;
    padding: $spacing;

    &__text{
        text-align: center;
    }
}

.container{
    width: 50%;
    margin: 0 auto;
}